<body>
  <div class="criteria-container"> 
    <h2 class="criteria-title"> Criteria </h2>
    <ul class="criteria-list">
      <li> <a href='#' data-chart-type="fname"> First Name </a> </li>
      <li> <a href='#' data-chart-type="mname"> Middle Initial </a> </li>
      <li> <a href='#' data-chart-type="lname"> Last Name </a> </li>
      <li> <a href='#' data-chart-type="prefix"> Prefix </a> </li>
      <li> <a href='#' data-chart-type="address1" > Address 1 </a> </li>
      <li> <a href='#' data-chart-type="address2"> Address 2 </a> </li>
      <li> <a href='#' data-chart-type="city"> City </a> </li>
      <li> <a href='#' data-chart-type="state"> State </a> </li>
      <li> <a href='#' data-chart-type="zip"> Zip </a> </li>
      <li> <a href='#' data-chart-type="education"> Education </a> </li>
      <li> <a href='#' data-chart-type="income"> Income </a> </li>
    </ul>
  </div>
  <div class="chart-container">
    <h1 id="chart-title"> </h1>
    <%= pie_chart([], legend: false)%>    
  </div>
</body>





